// Colors
$white-color: #ffffff;
$black-color: #000000;
$grey-color : #888888;

// $blue-color: #015DFE;
$blue-color: #0055FF;
$body-bg: #F2F6FF;

$blue-color-700: #507DDA;
$blue-color-800: #004DE2;
$blue-color-900: #0055FF;

$black-color-700: #1F1F21;
$black-color-900: #0D0D0D;

$grey-color-500: #6B6F73;
$grey-color-400: #DDDDDD;
$grey-color-300: #EFEFEF;
$grey-color-200: #F9F9F9;

$grey-dark-color-200: #454C59;

$green-color-100: #F0FFF0;
$green-color-600: #42A61E;
$green-color-900: #5BC734;

$yellow-color-100: #FFFDF0;
$yellow-color-600: #D89026;
$yellow-color-900: #C59224;

$red-color-100: #FFF0F0;
$red-color-900: #E44848;