// Variables

$none: none;
$unset : unset;
$initial : initial;
$default: default;

$shadow1: 0px 0px 10px rgba($black-color, 0.03);
$shadow2: 0px 0px 50px rgba($black-color, 0.15);

$box-width: 435px;
$box-height: 610px;