@import "../../../Assets/SCSS/main";

.nav-links {
  a {
    margin: 0 10px;
    color: $grey-color;
    font-size: 16px;

    &.active {
      color: $black-color;
    }
  }

  .bookademo {
    background: $blue-color;
    color: $white-color;
    border: $none;
    padding: 15px 30px;
  }
}

.btn-icon{
  width: 12px;
  height: 12px;
}

.headerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headerWrapper .navbar-collapse{
    flex-grow: inherit;
}