@import "../../Assets/SCSS/main";

.wrapper{
    width: 100%;
}
.header{
    width: 100%;
    .navbar {
        background: none;
        padding: 15px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        .navbar-brand{
            color: $black-color;
        }
    }
}

.content {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}