@import "../../Assets/SCSS/main";

html,
body,
#root {
    height: 100%;
}

.header {
    width: 100%;
    background: $white-color;
    box-shadow: $shadow1;

    .navbar {
        background: none;
        padding: 15px;
        
        .navbar-brand {
            color: $black-color;
            font-weight: $font-medium;
            span{
                color: $blue-color;
                margin-left: 3px;
            }
        }
        .sidebtns{
            .btn{
                &.bookademo {
                    border: 1.5px solid currentColor;
                    padding: 10px 26px;
                    background: $none;
                    color: $blue-color;
                    font-weight: $font-regular;
                    font-size: 16px;
                    border-radius: 12px;
                }
            }
        }
    }
}


.file-uploadbx,
.upload-page {
    width: 100%;
}

.PublicLayout {
    display: flex;
    flex-direction: column;
    height: 100%;

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex: 1;
    }
}