@import "../../../Assets/SCSS/main";


$section-gapping:22px 30px;

.two-pane-wrapper {
  .back-btn {
    // background-color: $white-color;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
  }

  .panes {
    display: flex;
    align-items: flex-start;
    height: 100%;

    .left-pane {
      flex: 1.5;
      flex-direction: column;
      padding: 0rem 0rem;
      border-radius: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: relative;

      .back-btn {
        position: absolute;
        top: 30px;
        left: 30px;
        font-family: $font-ubuntu;
        padding: 9px 24px;
        border-radius: 8px;
        font-size: 16px;
        color: $white-color;
        font-weight: $font-medium;
        background: $black-color-700;
      }

      .file-previewbx {
        min-width: 500px;
        height: 600px;
        background: rgba($blue-color-700, 1);
        border-radius: 10px;
        box-shadow: $shadow2;

        .invoice-preview {
          margin: 20px;
          background: $black-color-700;
          border-radius: 10px;
          height: calc(100% - 40px);
          overflow: hidden;
          img{
            height: 100%;
            max-height: unset !important;
          }
        }

      }

      .bottom-btn {
        margin-top: 20px;

        .draft-save-btn {
          background: $black-color;
        }
      }
    }

    .right-pane {
      flex: 1;
      max-width: 472px;
      background: $white-color;
      height: calc(100vh - 78px);
      position: relative;
      box-shadow: -4px 0px 10px rgb(0 0 0 / 1%);

      .extracted-filedsbx {
        height: calc(100% - 160px);
        overflow: auto;
        margin-top: 68px;

        .field-wrapper{
          background: transparent;
          margin: 0px;
          &__title{
            background: none;
            margin: 0px;
            font-size: 16px;
            font-weight: $font-medium;
            padding:0px 30px 3px 30px;
          }
          &__content{
            padding:11px 30px;
          }
        }

      }


      .loading-text {
        position: absolute;
        margin: auto;
        left: 0px;
        right: 0px;
        text-align: center;
        align-items: center;
        height: 28px;
        top: 0px;
        bottom: 0px;
      }

      .fields-top-section {
          position: absolute;
          top: 0px;
          left: 0px;
          padding: $section-gapping;
          background: $white-color;
          border-bottom: 1px solid $grey-color-300;
          width: 100%;
          h2{
            font-size: 22px;
            font-weight: $font-medium;
            color: $black-color-900;
            margin: 0px;
          }
      }

      .fields-bottom-section {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 16px 30px;
        background: $white-color;
        border-top: 1px solid $grey-color-300;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h3{
          font-size: 14px;
          font-weight: $font-bold;
          color: $black-color;
          display: inline-flex;
          margin-bottom: 0px;

          span{
            font-weight: $font-medium;
            margin-left: 5px;
            &.Approved{
              color: $green-color-1000;
            }
            &.Pending{
                color: $yellow-color-900;
            }
          }
 
        }

        .draft-save-btn{
          background: $blue-color-900;
          color: $white-color;
          border-radius: 8px;
          font-size: 16px;
          padding: 8px 16px;
          font-weight: $font-medium;
          span{
            display: inline;
            margin-right: 8px;
          }
          &:hover{
            background: $blue-color-800;
          }
        }
        
      }

    }
  }
}

.invoice_preview {
  height: 100%;

  .two-pane-wrapper,
  .previewbx,
  .paneWrapper {
    height: 100%;
  }

}