@import "../../../Assets/SCSS/main";

.two-pane-wrapper {
  .back-btn {
    // background-color: $white-color;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
  }

  .panes {
    display: flex;
    align-items: flex-start;
    height: 100%;

    .left-pane {
      flex: 1.5;
      flex-direction: column;
      padding: 0rem 0rem;
      border-radius: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: relative;

      .back-btn {
        position: absolute;
        top: 30px;
        left: 30px;
        font-family: $font-ubuntu;
        padding: 9px 24px;
        border-radius: 8px;
        font-size: 16px;
        color: $white-color;
        font-weight: $font-medium;
        background: $black-color-700;
      }

      .file-previewbx {
        min-width: 500px;
        height: 600px;
        background: rgba($blue-color-700, 1);
        border-radius: 10px;
        box-shadow: $shadow2;

        .invoice-preview {
          margin: 20px;
          background: $black-color-700;
          border-radius: 10px;
          height: calc(100% - 40px);
        }

      }

      .bottom-btn {
        margin-top: 20px;

        .draft-save-btn {
          background: $black-color;
        }
      }
    }

    .right-pane {
      flex: 1;
      background: $white-color;
      height: 100%;
      position: relative;


      .loading-text {
        position: absolute;
        margin: auto;
        left: 0px;
        right: 0px;
        text-align: center;
        align-items: center;
        height: 28px;
        top: 0px;
        bottom: 0px;
      }

      .fields-top-section {
          position: absolute;
          top: 0px;
          left: 0px;
          padding: 10px;
          background: $white-color;
          box-shadow: 0 5px 10px rgba($black-color-700, 0.05);
          width: 100%;
      }

      .fields-bottom-section {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 10px;
        background: $white-color;
        box-shadow: 0 -5px 10px rgba($black-color-700, 0.05);
        width: 100%;
      }

    }
  }
}

.invoice_preview {
  height: 100%;

  .two-pane-wrapper,
  .previewbx,
  .paneWrapper {
    height: 100%;
  }

}